<div class="container mt-5">
    
    <div class="row d-flex justify-content-center">
        
        <div class="col-md-7">
            
            <div class="card p-3 py-4">
                
                <div class="text-center">
                    <img src="{{ this.userData.avatar_url }}" width="200" class="rounded-circle">
                </div>
                
                <div class="text-center mt-3">
                    <span class="bg-secondary p-1 px-4 rounded text-white">{{this.login}}</span>
                    <h5 class="mt-2 mb-0">{{this.userData.name}}</h5>
                    <span>{{this.userData.company}}</span>
                    
                    <div class="px-4 mt-1">
                        <p class="fonts">{{ this.userData.bio}}. </p>
                    
                    </div>
                    <ul class="social-list">
                        <li><fa-icon [icon]="['fab', 'github']"></fa-icon></li>
                        <li>Repositorios publicos: {{this.userData.public_repos}}</li>
                        <li>GitHub Gist: {{this.userData.public_gists}}</li>
                    </ul>
                     <ul class="social-list">
                        <li><fa-icon [icon]="['fab', 'twitter']"></fa-icon> @{{this.userData.twitter_username}}</li>
                        <li>Seguidores: {{this.userData.followers}}</li>
                        <li>Siguiendo: {{this.userData.following}}</li>
                    </ul>
                    
                    <div class="buttons">
                        
                        <a href="{{ this.userData.blog }}" target="_blank" class="btn btn-outline-primary px-4">Blog</a>
                        <button (click)="goHome()" class="btn btn-primary px-4 ms-3">Volver</button>
                    </div>
                    
                    
                </div>
                
               
                
                
            </div>
            
        </div>
        
    </div>
    
</div>